<!DOCTYPE html PUBLIC
 "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>$WikiTitle {$Group}/{$Titlespaced}</title>
	<link rel='stylesheet' href='$SkinDirUrl/style.css' type='text/css' />
	<link rel='stylesheet' href='$SkinDirUrl/color-$SkinColor/color.css' type='text/css' />
<!--HTMLHeader-->
</head>
<body>
	<div id="container">
		<div id="header">
			<div id="siteheader">
				<!--PageHeaderFmt-->
				<!--wiki:{$Group}.SiteHeader {$SiteGroup}.SiteHeader-->
				<!--/PageHeaderFmt-->
			</div>
			<div class="wikicmds">
				<!--PageActionFmt-->
				<!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions-->
				<!--/PageActionFmt-->
			</div>
		</div>

		<div id="content">
			<div id="main">
				<!--PageTitleGroupFmt-->
				<a href='{$ScriptUrl}/{$Group}' class="tagline">{$Group}</a>
				<!--/PageTitleGroupFmt-->
				<!--PageTitleFmt-->
				<h1><a href='{$PageUrl}'>{$Titlespaced}</a></h1>
				<!--/PageTitleFmt-->

				<!--PageText-->
			</div>
			<div id="right">
				<!--PageSearchFmt-->
				<div id="search">
					<form id="searchform" action='$ScriptUrl' method="get">
					<fieldset>
						<input class="hidden" type='hidden' name='n' value='{$FullName}' />
						<input class="hidden" type='hidden' name='action' value='$[search]' />
						<input class='searchfield' type='text' name='q' value='' />
						<input class='submit' type='submit' value='' />
					</fieldset>
					</form>
				</div>
				<!--/PageSearchFmt-->
				<div id="links">
					<!--PageRightFmt-->
					<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
					<!--/PageRightFmt-->
				</div>
			</div>
		</div>

		<div id="footer_container">
			<div id="footer">
				<!--PageFooterFmt-->
					<!--wiki:{$Group}.SiteFooter {$SiteGroup}.SiteFooter-->
				<!--/PageFooterFmt-->
			</div>
		</div>
			<div id="credits">
				<p><a href="http://e-lusion.com/greenmarinee/">Green Marinee</a> $[theme adapted by] <a href="http://solidgone.org/Skins/">David Gilbert</a>, $[powered by] <!--function:dg_PoweredBy--></p>
			</div>

	</div>
<!--HTMLFooter-->
</body>
</html>
