/* 1) -=-=-=- General selectors -=-=-=- */

body {
	background: #FCFEF4 url(images/bg_top.gif) repeat-x;
	}
body, h1 a:hover, h1 a:active, h2 a:hover, h2 a:active,.quickref code {
	color: #3F3F3F;
	}
h1, h1 a:link, h1 a:visited, h2, h2 a:link, h2 a:visited, .searchfield, input:hover {
	color: #7DA721;
	}
a:link,a:visited, .comments a:link, .comments a:visited, .wikicmds a, .wikicmds a:link, .wikicmds a:visited {
	color: #78A515;
	}
a:hover, a:active, .comments a:hover, .comments a:active {
	background-color: #78A515;
	color: #fff;
	}
blockquote {
	border-left-color: #3F3F3F;
	}
code {
	color: #444E1F;
	background-color: #F5F8E8;
	border-top-color: #D0EC98;
	}

/* 2)-=-=-=- Structure -=-=-=- */
#headertext, #headertext a:link, #headertext a:visited {
	color: #FCFEF4;
	}
#headertext a:hover, #headertext a:active {
	color: #DAED9C;
	}
#title .tagline {
	color: #888 !important;
	}
   
/* 3)-=-=-=- Left selectors -=-=-=- */	
.container_left {
	background: url(images/container_left.gif) no-repeat;
	}
.container_right {
	background: url(images/container_right.gif) no-repeat top right;
	}
.topline {
	background: url(images/container_top.gif) no-repeat;
	}
#content_bg {
	background: #fff url(images/container.gif) repeat-y;
	}
.meta {
	background-color: #F5F5F5;
	}
.meta:hover, .highlight {
	background-color: #F7FEDC;
	}
.comments {
	border-bottom-color: #eee;
	}
.alt {
	background-color: #EAF8CF !important; 
	border-color: #D5F0A4 !important;
	}
.alt:hover, .commentlist li:hover, #links, #links p, .line, .searchfield, input:hover, textarea:hover {
	border-color: #ACE149 !important;
	}
.commentlist li {
	background-color: #F6FCEB;
	border-color: #DEF3B6;
	color: #3C452D;
	}

/* 4)-=-=-=- Right selectors -=-=-=- */	
#links li {
	background: url(images/links_bullet.gif) no-repeat 0 4px;
	}
#links a:link, #links a:visited, textarea:hover {
	color: #565D4A;
	}
#links a:hover, #links a:active, .wikicmds a:hover, .wikicmds a:active {
	background-color: #80BE14;
	color: #fff;
	}
p.searchinfo {
	color: #999;
	}
.searchfield {
	background-color: #fff;
	}
.searchfield:hover, input, textarea {
	border-color: #BFBFBF;
	color: #949494;
	background-color: #fff;
	}
.submit, .submit:hover {
	background: url(images/search_submit.gif) no-repeat;
	}

/* 5)-=-=-=- Footer -=-=-=- */	
#footer_container {
	background: url(images/footer.gif) no-repeat;
	}
#footer, #footer p {
	color: #bbb;
	}
.extras a:link, .extras a:visited {
	background-color: #f6f6f6;
	color: #ccc;
	border-color: #fff;
	}
.extras a:hover, .extras a:active {
	background-color: #DEEEA4;
	color: #7AB90C;
	border-color: #C9E979;
	}

/* 6)-=-=-=- Forms -=-=-=- */
input:hover, textarea:hover{
	background-color: #fff;
	}

/* 7)-=-=-=- Accessibility -=-=-=- */
hr {
	border-color: #ACE149;
	}
/* 8)-=-=-=- Hacks -=-=-=- */

/* 9)-=-=-=- PmWiki -=-=-=- */
.quickref code {
	background-color: #F9F9F9;
	}
